.sq-text-success {
  color: $sq-color-success;
}
.sq-text-error {
  color: $sq-color-error;
}
.sq-text-info {
  color: $sq-color-info;
}

.sq-text-warning {
  color: $sq-color-warning;
}

.sq-text-muted {
  color: $sq-color-gray;
}