h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  margin-top: 0px;
  margin-bottom: 16px;
}

h1 {
  @include t2-style();
  @media screen and (min-width:$screen-md) {
    @include t1-style();
  }
} 
h2 {
  @include t3-style();
  @media screen and (min-width:$screen-md) {
    @include t2-style();
  }
}
h3 {
  @include t4-style();
  @media screen and (min-width:$screen-md) {
    @include t3-style();
  }
}


p {
  @include b5-style();
  margin: 0 0 24px 0;
}

.jumbo-header {
  @include jumbo-style();
  @media screen and (min-width:$screen-md) {
    @include large-style();
  }
}
.large-header {
  @include large-style();
  @media screen and (min-width:$screen-md) {
    @include big-style();
  }
}
.big-header {
  @include big-style();
  @media screen and (min-width:$screen-md) {
    @include t1-style();
  }
}