@import "bootstrap-vars";
//
// SQ COre variables
// --------------------------------------------------

// BOostrap overrides 
// --------------------------------------------------


//** Global textual link color.
$link-color:            #06b9ff;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 10%);
//** Link hover decoration.
$link-hover-decoration: none;

// END BOostrap Overrides
// --------------------------------------------------

//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base: #000 ;
$gray-darker: lighten($gray-base, 13.5%) ; // #222
$gray-dark: lighten($gray-base, 20%) ; // #333
$gray: lighten($gray-base, 33.5%) ; // #555
$gray-light: lighten($gray-base, 46.7%) ; // #777
$gray-lighter: lighten($gray-base, 93.5%) ; // #eee



// Colors
$sq-color-primary: #143155;
$sq-color-primary-lightest: lighten($sq-color-primary, 45%);
$sq-color-primary-lighter: lighten($sq-color-primary, 35%);
$sq-color-primary-light: lighten($sq-color-primary, 25%);
$sq-color-primary-medium: lighten($sq-color-primary, 13%);
$sq-color-primary-dark: darken($sq-color-primary, 2%);
$sq-color-primary-darker: darken($sq-color-primary, 5%);
$sq-color-primary-darkest: darken($sq-color-primary, 10%);

$sq-color-secondary: #d32f2f;
$sq-color-secondary-lightest: #ffebee;
$sq-color-secondary-lighter: #ffcdd2;
$sq-color-secondary-light: #ef9a9a;
$sq-color-secondary-dark: #ef5350;
$sq-color-secondary-darker: #f44336;
$sq-color-secondary-darkest: #e53935;

$sq-color-muted: #90a4ae;
$sq-color-muted-lightest: lighten($sq-color-muted, 45%);
$sq-color-muted-lighter: lighten($sq-color-muted, 35%);
$sq-color-muted-light: lighten($sq-color-muted, 25%);
$sq-color-muted-medium: lighten($sq-color-muted, 13%);
$sq-color-muted-dark: darken($sq-color-muted, 2%);
$sq-color-muted-darker: darken($sq-color-muted, 5%);
$sq-color-muted-darkest: darken($sq-color-muted, 10%);

$sq-color-white: #fff;
$sq-color-black: #000;

$sq-color-gray: #728497;
$sq-color-gray-lightest: lighten($sq-color-gray, 45%);
$sq-color-gray-lighter: lighten($sq-color-gray, 35%);
$sq-color-gray-light: lighten($sq-color-gray, 25%);
$sq-color-gray-medium: lighten($sq-color-gray, 13%);
$sq-color-gray-dark: darken($sq-color-gray, 2%);
$sq-color-gray-darker: darken($sq-color-gray, 5%);
$sq-color-gray-darkest: darken($sq-color-gray, 10%);



$sq-color-info: #009df8;
$sq-color-info-lightest: lighten($sq-color-info, 45%);
$sq-color-info-lighter: lighten($sq-color-info, 35%);
$sq-color-info-light: lighten($sq-color-info, 25%);
$sq-color-info-medium: lighten($sq-color-info, 13%);
$sq-color-info-dark: darken($sq-color-info, 2%);
$sq-color-info-darker: darken($sq-color-info, 5%);
$sq-color-info-darkest: darken($sq-color-info, 10%);




$sq-color-warning: #ffa000;
$sq-color-warning-lightest: lighten($sq-color-warning, 45%);
$sq-color-warning-lighter: lighten($sq-color-warning, 35%);
$sq-color-warning-light: lighten($sq-color-warning, 25%);
$sq-color-warning-medium: lighten($sq-color-warning, 13%);
$sq-color-warning-dark: darken($sq-color-warning, 2%);
$sq-color-warning-darker: darken($sq-color-warning, 5%);
$sq-color-warning-darkest: darken($sq-color-warning, 10%);

$sq-color-error: #d32f2f;
$sq-color-error-lightest: lighten($sq-color-error, 45%);
$sq-color-error-lighter: lighten($sq-color-error, 35%);
$sq-color-error-light: lighten($sq-color-error, 25%);
$sq-color-error-medium: lighten($sq-color-error, 13%);
$sq-color-error-dark: darken($sq-color-error, 2%);
$sq-color-error-darker: darken($sq-color-error, 5%);
$sq-color-error-darkest: darken($sq-color-error, 10%);

$sq-color-success: #308833;
$sq-color-success-lightest: #e9f3ec;
$sq-color-success-lighter: lighten($sq-color-success, 35%);
$sq-color-success-light: lighten($sq-color-success, 25%);
$sq-color-success-medium: lighten($sq-color-success, 13%);
$sq-color-success-dark: darken($sq-color-success, 2%);
$sq-color-success-darker: darken($sq-color-success, 5%);
$sq-color-success-darkest: darken($sq-color-success, 10%);


$brand-primary: $sq-color-primary ; // #337ab7
$brand-success:$sq-color-success ;
$brand-info: $sq-color-info ;
$brand-warning: $sq-color-warning ;
$brand-danger: $sq-color-secondary ;

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg: #fff ;
//** Global text color on `<body>`.
$text-color: $gray-base;


//== Typography

$screen-xs: 320px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1280px;
$screen-xlg: 1440px;

// Typography

$sq-text-color: $gray-base;
$sq-heading-color: $sq-color-muted-darkest;

// Fonts

$header-font-family: var(--header-font-family);
$paragraph-font-family: var(--paragraph-font-family);
$text-font-family: var(--text-font-family);



$jumbo-font-size: 58px;
$large-font-size: 48px;
$big-font-size: 40px;

$t1-font-size: 36px;
$t2-font-size: 30px;
$t3-font-size: 24px;
$t4-font-size: 18px;
$t5-font-size: 16px;
$t6-font-size: 14px;
$t7-font-size: 12px;
$t8-font-size: 10px;


//Spacing
$spacing-x1: 10px;
$spacing-x2: 20px;
$spacing-x3: 40px;


// z-indexes

$z-index-level-1: 1001;
$z-index-level-2: 1002;
$z-index-level-3: 1003;
$z-index-level-4: 1004;
$z-index-level-mid-1: 1301;
$z-index-level-mid-2: 1302;
$z-index-level-mid-3: 1303;
$z-index-level-mid-4: 1304;
$z-index-level-3rdtop: 9994;
$z-index-level-2ndtop: 9995;
$z-index-level-top: 9996;
$z-index-level-3rdtopest: 9997;
$z-index-level-2ndtopest: 9998;
$z-index-level-topest: 9999;

$zindex-menubar: 1001;
$zindex-loading: 1002;
$zindex-appdrawer: 1003;
$zindex-app-overlay: 1004;



// Global FOoter

$sq-footer-background-color: $sq-color-muted-lightest;
$sq-footer-background-color-dark: $sq-color-primary-darkest;


// Global Navigation
$sq-global-navigation-background-color:  $sq-color-muted-lightest;
$sq-global-navigation-background-color-dark: $sq-color-primary-darkest;


// base config
$base-font-size:  $t6-font-size;