@font-face {
  font-family: 'RobotoRegular';
  src: url("/client/assets/fonts/RobotoCondensed-Regular.ttf");
}
@font-face {
  font-family: 'RobotoLight';
  src: url("/client/assets/fonts/RobotoCondensed-Light.ttf");
}
@font-face {
  font-family: 'RobotoBold';
  src: url("/client/assets/fonts/RobotoCondensed-Bold.ttf");
}
body {
  margin: 0;
  padding: 0;
  font-family: RobotoLight, Arial;
}
.sq-toc-sidenav__header {
  border-left: solid 2px #329ef7;
  padding-left:10px;
}
.sq-toc-sidenav__nav-list {
  padding-left: 10px;
  margin-bottom: 10px;
}
header .navbar-nav .active a.nav-link {
  color: #329ef7;
}